*{
    margin: 0px;
    padding: 0px;
}
.menu{
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;
}
ul{
    list-style: none;
}
a{
    background-color: rgb(34, 30, 94);
    display: block;
    padding: 20px 5px;
}
a:hover{
    background-color: rgb(131, 168, 236);
}
.sidebar{
    position: relative;
    display: block;
    background: black;
    width: 30px;
    height: 2px;
    top: 25px;
    left: 15px;
    transition: 0.5s ease-in-out;
}
.sidebar:before,
.sidebar:after{
    background: black;
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}
.sidebar:before{
    top: -10px;
}
.sidebar:after{
    bottom: -10px;
}
input{
    display: none;
}
input:checked~label .sidebar{
    transform: rotate(45deg);
}
input:checked~label .sidebar:before{
    transform: rotate(90deg);
    top: 0;
}
input:checked~label .sidebar:after{
    transform: rotate(90deg);
    bottom: 0;
}
.painel{
    background-color: rgb(34, 30, 94);
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all .2s linear;
    left: -300px;
    top: 0px;
}
#check:checked~.painel{
    transform: translateX(300px);
}
.itens{
    margin-top: 100px;
}

 

